/* Main */

html {
    background-image:url(afbeeldingen/achtergrond.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
}

body {
    font-family: "Century Gothic", "Verdana", sans-serif; 
}

#header{
    background:rgba(255,255,255,50%);
    margin-left:-5%;
    margin-top:4%;
    margin-right:0%;
    float:left;
    width:110%;
    height:7%;   
}

/*Header links*/

#links{
    width:50%;
    float:left;  
}

#textlinks:hover{
    color:#D3CA8C;
}

#textrechts:hover{
    color:#D3CA8C;
}

#links1{
    margin-left:38.5%;
    margin-right:38.5%;
    width:25%;
}



#linkedinm{
    float:left;
    width:25%;
    margin-top:5%;
    margin-bottom:5%;
}

#textlinks{
    float:left;
    font-weight: bold;
    font-size: 1.5vw;
    color:#2A2417;
    margin-top:12%;
    margin-bottom:12%;
    margin-left:10%;
}


/*Header midden*/

#profielfoto{
    float:left;
    width:15%;
    margin-left:42.5%;
    margin-right:42.5%;
    margin-top: -10%;
    z-index:4;
}


/*Header rechts*/

#rechts {
    float:left;
    width:50%;
} 

#rechts1{
    margin-left:38.5%;
    margin-right:38.5%;
    width:25%;
}

#cvicon {
    float:left;
    width:25%;
    margin-top:6%;
    margin-bottom:6.3%;
}

#textrechts{
    float:left;
    font-weight: bold;
    font-size:1.5vw;
    color:#2A2417;
    margin-top:12%;
    margin-bottom:12%;
    margin-left:10%;

}
/*body*/

#body {
    float:left;
    width:100%;
    margin-top:1%;
}

#bodylinks{
    float:left;
    width:42.5%;
}

#pfbox{
    position:relative;
    z-index:2;
}

.header{
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:1.6vw;
    margin-top:-16%;
    color:#2A2417;
    
}

#bodyrechts{
    float:left;
    width:42.5%;
}

/* Menu */
#menu {
    float:left;
    background:rgba(255,255,255,50%);
    width:15%;
    margin-top:-6%;
    position:relative;
    z-index:1;

}

.menubutton{
    text-align:center;
    font-weight:bold;
    position:relative;
    
}

.bulletpoint{
    color:#2A2417;
    font-size:1vw;
}

.active{
    color:#584E27;
    text-decoration:underline;
    font-size:0.9vw;
}

.kopje{
    text-align:center;
    font-weight: bold;
    font-size:1.5vw;
    color:#2A2417;
   
}

.link{
    text-align:center;
    font-weight: bold;
    font-size:1vw;
    color:#584E27;
    text-decoration: none;
}

.kopje1{
    text-align:center;
    font-weight: bold;
    font-size:1.3vw;
    color:#2A2417;
}


#textmenu{
    font-weight: bold;
    text-align: center;
    font-size:1.8vw;
    margin-top:50%;
}

hr{
 width:80%;
 height:0.05em;
 background-color:#2A2417;
 border-style:none;
 margin-top:5%;
 margin-bottom:5%;
}

#last {

margin-bottom:11%;
    
}


#menu a:hover{
    color:#D3CA8C;
}



/*Bruin #2A2417
  Groen #584E27
  Lichtbruin #D3CA8C

*/