/*Bruin #2A2417 | 42, 36, 23
  Groen #584E27 |  88,78,39
  Lichtbruin #D3CA8C | 211, 202, 140

*/

/* About me */
#textblock{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:5%;
    color:#2A2417;
    font-weight:bold;
    font-size:1vw;
}

/* Contact */

.text{
    color:#2A2417;
    font-weight: bold;
    font-size:1.2vw;
    padding-top:1%;

}

#form{
    width:55%;
    margin-left:22.5%;
    margin-right:22.5%;
    margin-top:10%;
}
/*
label{
    font-size:1.3vw;
    font-weight: bold;
    color:#584E27;
    margin-left:38%;
    margin-right:38%;
    text-align:center;
}

input{
    margin-top:5%; 
    margin-bottom:5%;
    width:100%;
}

input[type=text]{
    background:rgba(255, 255, 255,50%);
    border-style:none;
    padding:5%;
    text-align:center;
}

input[type=text]:focus {
    color:#584E27;
    outline-width:0.1vw; 
    outline-color:#2A2417;
    outline-style: solid;  
    font-size:1vw;
}

input[type=email]{
    background:rgba(255, 255, 255,50%);
    border-style:none;
    padding:5%;
    text-align:center;
}
input[type=email]:focus{
    outline-width:0.1vw; 
    outline-color:#2A2417;
    outline-style: solid; 
    font-size:1vw;
}
*/
input[type=submit]{
    width:90%;
    margin-left:10%;
    margin-right:10%;
    color: rgba(255,255,255,70%);
    background:rgba(88,78,39,100%);
    border-style: none;
    padding:2%;
    font-weight:bold;
    margin-top:10%;
    font-size:1vw;
}

input[type=submit]:hover{
    color: #584E27;
    background:rgba(211, 202, 140,100%);
}

#email{
   float: left;
   width:12%;
   margin-right:5%;
   margin-top:2%;
}

#submit{
    margin-top:1%;
}

#icon{
    float:left;
    margin-right: 5%;
    width:20%;
}

.text1{
    text-align:center;
    color:#2A2417;
    font-weight:bold;
    font-size:1.8vw;
    margin-bottom:10%;
    margin-top:10%;
}

.text2{
    
    text-align:center;
    color:#584E27;
    font-weight:bold;
    font-size:1.2vw;
    margin-bottom:10%;
}

.box1{
    margin-bottom:10%;
    margin-left:32.5%;
    margin-right:32.5%;
}


.box2{
    margin-bottom:10%;
    margin-left:13.5%;
    margin-right:13.5%;
}

.box1 a{
    text-decoration:none;
}

.box1 p:hover{
    color:#D3CA8C;
}

.box2 a{
    text-decoration:none;
}

.box2 p:hover{
    color:#D3CA8C;
}