/*Bruin #2A2417 | 42, 36, 23
  Groen #584E27 |  88,78,39
  Lichtbruin #D3CA8C | 211, 202, 140

*/
.lastphoto{
    margin-right:15%;
    margin-left:7%;
    float:left;
}

.lasttext{
    margin-left:2%;
    float:left;
}

.gridbox{
    width:100%;
}

.fotobox{
    width:25%;
    float:left;
}

.fotobox img{
    width:100%;
}

.f1{
    margin-left:4%;
}

.f2{
    margin-left: 7%;
    margin-right:7%;
}

.f3{
    margin-right:7%;
}

.textbox{
    margin-top:2%;
    margin-bottom:2%;
    width:30%;
    background:rgba(255,255,255,50%);
    float:left;
    text-align:left;
}

.t1{
    margin-left:2%;
}

.t2{
    margin-left:2%;
}

.t3{
    margin-left:2%;
    margin-right:2%;
}

.titel{
    font-weight:bold;
    margin-left:5%;
    margin-right:5%;
    font-size:0.8vw;
    margin-bottom:0%;
    margin-top:3%;
    color:#584E27;
}

.ondertitel{
    margin-left:5%;
    margin-right:5%;
    font-size:0.7vw;
    margin-bottom:0%;
    margin-top:3%;
    color:#2A2417;
    font-weight: bold;
}

.discription{
    margin-top:3%;
    margin-left:5%;
    margin-right:5%;
    font-size:0.7vw;
    color:#2A2417;
}

.hrtext {
 width:90%;
 margin-left:5%;
 margin-right:5%;
 border-style:solid;
 border-color:#584E27;
 margin-top:2%;
 margin-bottom:2%;
}

.tags{
    margin-top:3%;
    margin-left:5%;
    margin-right:5%;
    text-align:center;
    font-size:0.5vw;
    color:#584E27;
}

.textbox a{
    text-decoration:none;
    
}

.titel:hover{
    color:#D3CA8C;
    
}