/*Bruin #2A2417
  Groen #584E27
  Lichtbruin #D3CA8C

*/
#profielfoto{
   width:10%; 
    margin-top:-9%;
}

#textbox{
    width:96%;
    float:left;
    background:rgba(255,255,255,50%);
    margin-top:1.5%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:5%;
}

#textboxheader{
    width:100%;
    float:left;

}

#close img{
    float:left;
    width:1.5%;
    margin-left:1%;
    margin-top:1%;
    
}

#textboxheader hr{
    border-color:#2A2417;
    float:left;
    width:35%;
    margin-top:0%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:1%;
    border-style:solid;
}

#textboxheader p{
    float:left;
    color:#584E27;
    margin-left:2.5%;
    margin-top:1.5%;
    margin-bottom:1%;
    font-weight: bold;
    font-size:1.5vw;
    margin-right:50%;
}

#textboxlinks{
    float:left;
    width:35%;
    margin-left:5%;
    margin-right:5%;
    
}
#textboxrechts{
    float:left;
    width:50%;
    margin-right:5%;
    margin-top:-5%;
    
}
.textboxkopje{
    color:#584E27;
    font-weight:bold;
    font-size:1vw;
    margin-bottom:1%;
    margin-top:1%;
}

.textboxtext{
    color:#2A2417;
    font-size:0.8vw;
    margin-bottom:1%;
    
}

#textboxlinks hr{
    width:100%;
    margin-top:3%;
    margin-bottom:3%;
    margin-left:0%;
    
   
}
.gridbox{
    width:100%;
}

.fotobox{
    width:32%;
    float:left;
    margin-left:1%;
    margin-bottom:5%;
    
}

.fotobox img{
    width:100%;
}

.textboxkopjerechts{
    color:#584E27;
    font-weight:bold;
    font-size:1.5vw;
    margin-bottom:2%;
    margin-top:2%;
    
}

#textboxrechts hr{
    border-color:#2A2417;
    width:100%;
    margin-top:1%;
    margin-left:0%;
    margin-right:0%;
    margin-bottom:1%;
    border-style:solid;
}